@model List<TaskManager.ViewModels.GeneralViewModel>
@{
    ViewBag.Title = "Admin";
}
@ViewBag.loginStatus

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <label><h2>@ViewBag.userName</h2></label> <br />
    <button class="btn btn-success" style="float:right;"><a href="~/Home/AddTask" style="color:black">Create task</a></button> <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <td>
                    TaskId
                </td>

                <td>
                    Title
                </td>

                <td>
                    User Id
                </td>

                <td>
                    Deadline
                </td>

                <td>
                    Description
                </td>

                <td>
                    Status
                </td>
            </tr>
        </thead>

        <tbody>
            @if (Model != null)
                        {
                            int counter = 0;
                            foreach (var item in Model)
                            {
                                foreach (var subItem in item.userTasks)
                                {
                        <tr class="TaskRow NotRed" id="@counter">
                            <td>
                                @subItem.Id
                            </td>

                            <td>
                                @subItem.Title
                            </td>

                            <td>
                                @subItem.UserId
                            </td>

                            <td>
                                @subItem.Deadline.ToShortDateString()

                                @if (subItem.Deadline < DateTime.Now)
                    {

                            <script>
                                    $(document).ready(function () {
                            document.getElementsByClassName("TaskRow")[@counter].style.backgroundColor = "red";
                        });

                            </script>
}
                            </td>

                            <td>
                                @subItem.Description
                            </td>

                            <td>
                                @subItem.Status
                            </td>

                        </tr>
                        counter++;
                    }


                }
            }

        </tbody>
    </table>



</body>
</html>
